.cartpage{
    text-ailign:center;
    width: 100%;
    min-height: 70vh;
display: flex;
flex-direction: row-reverse;
background-color: rgb(238, 235, 235);
}

.carttotal{
    width: 200px;
margin:24px 10px;
padding: 12px;
text-align: center;
background-color: white;
color: rgb(63, 63, 63);
letter-spacing: -1px;
}
.carttotal div{
    margin:12px 0px;
}
.carttotal span{
text-decoration-style:double;
    margin:0px 5px;
}
.carttotal div:nth-child(2){
    color:tomato;
    font-size: 14px;
}
.carttotal div:nth-child(3) span:nth-child(2){
font-weight: bold;
letter-spacing: 0px;
}

.carttotal div:nth-child(1){
    color:rgb(136, 136, 136);

}

.carttotal-button{
text-align: center;
padding: 9px 7px;
box-shadow: 1px 1px 9px rgb(136, 136, 136);
text-shadow:1px 1px 9px rgb(255, 255, 255);
border-radius: 4px;
color: rgb(248, 248, 248);
cursor: pointer;
   background-color:rgb(28, 190, 163);
}
.cartpagelist{
    background-color: rgb(255, 255, 255);
margin-top: 22px;
height: 100%;
margin-bottom: 22px;
padding-bottom: 22px;
}

@media screen and (min-width:600px){
    .cartpage{
    background-color: rgb(0, 171, 194);  
background-color: rgb(243, 243, 243);
  
height: 100%;
justify-content: center;

    }
    .cartpagelist{
        background-color: rgb(255, 255, 255);
    width: 60%;
    
    }

}




.cartitem{
    font-family:Ali;
    margin:0px 12px;
padding:22px 0px;
position:relative;
display: flex;
flex-direction: row-reverse;
min-width: 60%;
border-bottom: 1px solid rgb(221, 221, 221);
}


.cart-item-char div{
margin: 7px 5px;
}
.cart-item-char{margin: 7px 0px;
font-size: 13px;
color:rgb(144,144,144)
}
.cart-item-price{
color:rgb(70, 70, 70);
font-size: 17px;
direction: rtl;
font-weight: bold;
letter-spacing: -1px;
width: 100%;
    text-align: left;
}
.cart-item-price span{
    font-weight:normal;
    color:rgb(137,137,137);
    letter-spacing: 0px;
    margin:0px 9px;
    font-size: 13px;
}
.cart-item-price-discount{
    color:rgb(248, 80, 80);
    font-size: 15px;
    direction: ltr;
    
    letter-spacing: -1px;
    width: 100%;
        text-align:left;
    }
    .cart-item-price-discount span{
        font-weight:normal;
        color:rgb(255, 72, 72);
        letter-spacing: 0px;
        margin:9px 3px;
        font-size: 13px;
    }