.home-page-con{
padding-top: 19px;
    background-color: rgb(234, 236, 236);
}

.slideshow{
    position: relative;


overflow: hidden;
margin: 0% 0%;
border-radius: 7px;
}

.slideshow-con{
    position:absolute;
    max-width: 100%;
    left:0;
    top:0;
}

.slideshow figure img{
    float:left;
}
.slideshow figure{
    
    margin: 0;
    position: relative;
    left:0;
    transition: left 0.3s;
    display: flex;
}
@keyframes example {
    0%   {left:0;}
    27%  {left:0;}
    32%  {left:-100%;}
    60%  {left:-100%;}
    65%  {left:-200%;}
    95%  {left:-200%;}
    100%  {left:-300%;}
  }
.slideshow img{
max-width: 100%;
max-height: 100%;


}
.slide-dote-con{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    width: 100%;

}
#dot-0{
    background-color: rgb(154,154,154);
}
.slide-dote{
    
width: 8px;
height: 8px;
margin: 10px;
border-radius:50%;
border:2px solid rgb(166,166,166);
}
.part-one-first-up{
    position: relative;
    border-radius: 7px;
    padding-top: 41%;
    
    
box-shadow: 1px 1px 8px rgb(188,188,188);

}
.part-one-first-down{
    display: none;
}
.part-one-secound{
    display: none;  
}
.part-one{
    margin: 0px 5%;
}
.elsti-item{
    background-color:white;
    font-size: 15px;
   box-shadow: 1px 1px 6px rgb(255, 255, 255); 
    margin: 0px 4px 0px 4px ;
border: 1px solid rgb(255, 255, 255);
}
.elsti-item:hover{
cursor: pointer;

}
.elsti-item div:nth-child(2){
    min-height: 44px;
    text-align: center;

}
.discount-elstic-show{
    height: 28px;
   
    display: inline-block;
    padding: 0px 0 0px 3px;
    border: 1px solid rgb(255, 136, 136);
    text-align: center;
    margin:9px 2px 6px 2px;
}
.elsti-item div:nth-child(3) span:first-child{
    color:rgb(255, 255, 255);
    height: 100%;
    
    
    padding: 3px 4px ;
    white-space:nowrap;
    background-color: rgb(245, 86, 147);
    font-weight: bold;
    
    font-size: 17px;

}
.elsti-item div:nth-child(3) span:nth-child(2){
    text-decoration-line: line-through;
    color: rgb(145, 145, 145);
    padding: 3px 2px;

}
.elsti-item div:nth-child(4){
direction: rtl;
    font-weight: bold;
text-align: left;
color: rgb(85, 85, 85);
margin-bottom: 19px;
}
.elsti-item div:nth-child(4) span:nth-child(2){
    font-weight: normal;
    font-size: 14px;
    margin: 0 5px 0 0;
    color: rgb(145, 145, 145);
}
.elsti-item div:nth-child(5){
    display: none;
}


.box-elstic-show{
margin:0px 2% 0px 1.5%;
background-color: rgb(255, 255, 255);
border-radius: 4px;
padding-bottom:40px;

transition:transform 0.08s;
box-shadow: 1px 1px 8px rgb(188,188,188);
}
.box-elstic-show:hover{

}
.part4{
    margin: 0px 10%;
    display:block;
    
        }
        .part4 div{
    position: relative;
    overflow: hidden;
    margin: 10px 0;

            padding-top: 34.5%;
            border-radius: 6px;
            width: 100%;
        box-shadow: 1px 1px 7px rgb(200,200,200);
        }

        .part3{
            margin: 0px 10%;
                display: flex;
                justify-content: space-between;
            }
            .part3 div{
                position: relative;
                overflow: hidden;
                padding-top: 36.5%;
                border-radius: 6px;
            
                width: 49%;
            box-shadow: 1px 1px 7px rgb(200,200,200);
            }
            

        .part3 div:nth-child(3){
            display: none;
        }
        
        .part3 div:nth-child(4){
            display: none;
        }
        
    


@media screen and (min-width: 690px) {



    .part-one{
        margin:0px 1%;
        display: flex;
        flex-direction: row-reverse;
        
    }
    .box-shadow{
        
        box-shadow: 1px 1px 5px rgb(190, 190, 190);
    }
    .part-one-first{
        width: 66.3%;
        
                   } 
    .part-one-first-up{
        position: relative;
        padding-top: 40.8%;
    overflow: hidden;
        
        border-radius: 7px;
        margin: 2.5% 2% 3% 2%;
    }
    .part-one-first-up div{
      
    }

    .part-one-first-down{
    margin: 1% 2% 5% 2%;
        display:flex;
        
    }
    .part-one-first-down div:first-child{
        width: 48%;
        border-radius: 7px;
        overflow: hidden;
padding-top: 18.25%;
position: relative;

    }
    .part-one-first-down div:nth-child(2){
        border-radius: 7px;
        overflow: hidden;
        padding-top: 20.55%;
        width: 48%;
        margin: 0 0 0 auto;
        position: relative;
    }
    .part-one-secound{
        display: block;
        width: 33.6%;
    
    
    }
    .part-one-secound-up{
        position: relative;
    
        padding-top: 39.85%;
        margin: 5% 3%;
        border-radius: 7px;
        overflow: hidden;

    }
    .part-one-secound-down{
        position: relative;
        margin-top: 4%;
        margin: 5% 3%;
    
        border-radius: 7px;
    overflow: hidden;
        padding-top: 80.45%; 
        
    }


    



.part-one-first-down  img{max-width: 100%;
    position: absolute;
    z-index: 2;
    
    top:0;
height: auto;
}
.part-one-secound  img{max-width: 100%;
    position: absolute;
    z-index: 2;
    
    top:0;
height: auto;
}
.part3{
margin: 0px 10%;
    display: flex;
    justify-content: space-between;
}
.part3 div{
    position: relative;
    overflow: hidden;
    padding-top: 16.5%;
    border-radius: 6px;

    width: 24%;
box-shadow: 1px 1px 7px rgb(200,200,200);
}

.part3 div:nth-child(3){
    display: block;
}

.part3 div:nth-child(4){
    display: block;
}


.part4{
margin: 0px 10%;
display: flex;
justify-content: space-between;
    }
    .part4 div{
position: relative;
overflow: hidden;
        padding-top: 16.5%;
        border-radius: 6px;
        width: 48%;
    box-shadow: 1px 1px 7px rgb(200,200,200);
    }
   


}
.part3 div img{
    position: absolute;
    left: 0;
    top:0;
    max-width: 100%;
    height: auto;

}

    
    
.part4 div img{
    position: absolute;
    left: 0;
    top:0;
    max-width: 100%;
    height: auto;
}
.rec.rec-arrow:hover {
    font-size: 17px !important;
    border-radius: 16%;
    background-color: rgb(250, 250, 250) !important;
color:rgb(92, 91, 91) !important; 
}
.rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec.rec-arrow {
    
    
    border-radius: 9%;
font-size: 14px !important;
    background-color: rgb(255, 255, 255) !important;
color:rgb(114, 114, 114) !important;
}