.hed{
height: 25px ;
font-family: Ali;
color: rgb(5, 5, 5);
text-align: right;
margin: 6px 35px 6px 3px;
cursor: pointer;
}
.head2{
height: 25px ;
font-family: Ali;
color: rgb(5, 5, 5);
text-align: right;
margin: 6px 35px 6px 3px;
cursor: pointer;
}
.item-list{
    display: flex;
    flex-direction:row;
    text-align: right;
}
.item-list img{
    display: inline-block;
opacity: 0.3;
margin: 0px 11px 0px 0px;
}

.item-list div{


    display: inline-block;
}


.inside{
color: rgb(156, 156, 156);
height: 25px;
text-align: right;

display:none;
margin: 3px 39px 3px 3px;
font-size: 14px;
cursor: pointer;
}

@media screen and (min-width: 690px) {
.inside{
    display: block;
}
.head2:hover{
    transform: scale(1.1);
}
.item-list img{
    display:none;
}
.item-list{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 30px;
}


.block-con{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap-reverse;
    height: 390px;
    justify-content:start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 6 !important;

}
.block-sub{
    background-color: rgb(236, 236, 236);
   
    width: 250px;
    z-index: 6;


}
.in-head:hover{
    
    color:black;
    
    

}

.inside:hover{
    


    color:black;
    
}
    
}