.con-con-sniper{
position: fixed;
height: 100%;

z-index: 8;
width: 100%;

}

.con-sniper{
    background-color:rgb(247, 247, 247);

border-radius: 12px;
border:2px solid rgb(135, 209, 174);
margin: auto auto;

width:250px ;
height: 150px;

}
.con-sniper div:first-child{
margin-top: 14px;
text-align: center;
color: rgb(110, 111, 112);
}

@media screen and (min-width: 690px) {
.con-sniper{

width:350px ;
height: 130px;
}

}
.loader-spin {
    margin:12px 0 0 20px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #73dab2;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



