
.menu-main{
    display:block;
}
#menuitems{
background-color: blue;

}

      
#menuitems{
    position:fixed;
    right:-100%;
    top:19px;
    z-index:5;
      transition:all 0.4s ease-out;
    width:70%;
    border:2px solid rgb(256,253,255);
    background-color:rgb(265,265,265);
    border-radius:0px 4px 4px 0px;
       overflow-y:scroll;
       height:100%;
         -ms-overflow-style: none;
    }
    @media (min-width: 640px){
    #menuitems{
    width:30%;
    }
    
    }
    .buttonn{
        width: 120px;
         
    border:1px hidden rgb(22,22,22);
    justify-content:center;
    border-radius:7%;
    background-color:rgb(8, 163, 135);
    height: 40px;
    text-align: center;

    
    }
    .borderb{
border-bottom: 2px solid rgb(241, 240, 240);
margin: 0px 5px 0px 5%;
box-shadow: 0px 1px 4px rgb(238, 237, 237);
    }
  .buttonn Link{
        text-decoration: none;
    }
    .items-con{
        margin: 14px 0px;
display: flex;
flex-direction: column;
direction: rtl;
text-align: right;
padding-right: 5px;
background-color:white;

    }
    .items{
        border-bottom: 1px solid white;
padding: 10px 0px;
margin: 0px 13px;

    }

    .links span {
        margin: 12px;
cursor: pointer;

    }
    .links{
        
        display: flex;
        flex-direction: row;
        color: black;
        text-decoration: none;
    }
    
    .inmenulogin{
    
    border:1px hidden rgb(22,22,22);
    justify-content:center;
    border-radius:7%;
    background-color:rgb(8, 163, 135);
    }
    .aboutinsidemenu{
    margin-top:10px;
    color:rgb(100,100,100,.5);
    font-size:13px;
    padding:5px;
    }
    .Menu{
    padding:0px;
    margin:0px;
    display: inline-block;
    }
    .submenu{
        margin: 0;
        padding: 0;
     
    }
    .imgmenu{
        opacity: 0.2;
        margin:0px 14px;
    }