.navbar{
width: 100%;
height:50px ;
background-color: rgb(255, 255, 255);
display: flex;
flex-direction: row-reverse;


padding: 10px 0px;
}
.cart{
    opacity: 0.7;
position: relative;
    height:40px;
    margin-right:30px ;
color: black;
margin-right: auto;
margin-left: 16px;
margin-top: 2px;
cursor: pointer;

display: flex;
}
.cart-span{

    display: inline-block;
    margin-top: 6px;
color: rgb(36, 36, 36);
}

.numbercart{
    position: absolute;
    top:10px ;
    opacity: 0.9;
    font-size: 15px;
    left:10px;
    text-align: center;
    height: 17px;
    
    width: 9px;
    color:white;
    padding: 0px 4px;
    border-radius: 50%;
    opacity: 1;
    margin-top: 6px;
    background-color:rgb(255, 21, 21);
}
.login-register{
opacity: 0.4;
display: flex;
margin-top: 2px;
margin-right: 11px;
    cursor: pointer;
    height: 40px;
    margin-right: auto;
    margin-left: 6px;
}
.search-cont{
width: 55%;
display: none;

}
.login-register span{

    display: inline-block;
    margin-top: 6px;

}
.logo{
display: flex;
    margin:7px 2px 0 10px;
    width: 140px ;
    height: 60px;
}

 .con-mobile-search{
     margin: 0px 8px;
     display: flex;
justify-content: space-between;
 }
 
@media (min-width: 600px){
    .search-cont{
  display: block;
    }
    .con-mobile-search{
        display: none;
    }
    
    }