
.pro-data{text-align: right;
direction: rtl;
font-size: 14px;
padding: 9px 11px;
}
.pro-name{
    font-size: 17px;
    margin: 14px 8px;
}
.pro-type span{

    color:rgb(39, 153, 230) ;
}

.pro-brand{
    margin: 2px 8px;
color: rgb(90, 90, 90);
}


.pro-type{
    margin: 2px 8px;
color: rgb(90, 90, 90);
}

.pro-brand span{

    color: rgb(38, 183, 202) ;
}
.pro-main-character{
    margin: 5px 2px;
    direction: rtl;
}
.pro-main-character-con{
text-align: right;
    margin: 25px 2px;
}

.pro-main-character-name{
font-size: 13px;
    color: rgb(87, 87, 87);
}

.pro-main-character-value{
    color: rgb(20, 20, 20);
    
}
@media screen and (max-width: 700px) and (min-width:500px) {
}
 
@media screen and (min-width:700px){
.part-one{
display: flex;
flex-direction: row-reverse;
}
.pro-data{
width: 30%;
background-color: rgb(255, 255, 255);

}
.pro-image{
    width: 35%;
    background-color: rgb(255, 255, 255);
    }
    
.pro-addto{
    width: 35%;
    background-color: rgb(250, 250, 250);
    }
   
    




}
.color-select{

    display: flex;
    flex-direction: row-reverse;
flex-wrap: wrap;
}

@font-face {
    font-family: Afo;
    src: url(../fonts/8.ttf);
    
    }
.color-select div{
   border: 1px solid rgb(124, 124, 124);
   border-radius: 6px;
   color: rgb(128, 128, 128);
   text-align: center;
   margin:4px 5px;
font-size: 13px;
   width: 70px;
   padding: 7px 4px;
   cursor: pointer;
}
.color-select .color-0{
    border: 2px solid rgb(38, 183, 202);
}
.garanty{
border-bottom: 2px solid rgb(224, 224, 224);
    color: rgb(90, 90, 90);
margin: 2px 13px;
border-top: 2px solid rgb(221, 221, 221);
text-align: center;
padding: 14px 2px;
}
.color-title{
    font-size: 13px;
    color: rgb(90, 90, 90);
    margin: 2px 13px;
    text-align: right;padding: 6px 2px;


}
.button-addtocard{
     color: rgb(90, 90, 90);
margin: 2px 33px;
border: 2px solid rgb(221, 221, 221);
text-align: center;
padding: 10px 2px;
border-radius: 12px;
color:rgb(255, 255, 255);
background-color: seagreen;
cursor: pointer;
}
.price-de{
 color: rgb(90, 90, 90);
 font-size: 14px;

margin: 2px 13px;
text-align: center;
padding: 14px 2px;
letter-spacing: -1px;
}
.price-de span{
margin: 0px 52px 0px 0px;
    font-size: 25px;
    font-weight: bold ;
}

.box-elstic-show-detailpage{
    margin:40px 2% 50px 2%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 8px rgb(238, 238, 238);
    }
.under-button{
    direction: rtl;
text-align: right;
    margin: 0px 12px 0px 12px;
    display: flex;

    flex-direction: row;
font-size: 14px;
color:rgb(100, 100, 100);


}
.tecnical{
    text-align: right;
}
.pro-image{
    
 
}
.con-crasouel{

    max-width: 300px;
    margin: auto auto auto auto;
    
    background-color: beige;
}
.parttowselect{
    padding: 3px 0px 0px 0px;
background-color: rgb(250, 250, 250);
margin-top: 44px;
    display: flex;
    flex-direction: row-reverse;

}
.parttowcontent{
    padding: 0px 14px ;
    background-color:  rgb(255, 254, 254);
}
.parttowselect div{
    cursor: pointer;
}
.describe{
color:rgb(146, 146, 146);
   padding: 22px 17px;
    text-align: right;
    background-color:white;
    margin: 0px 22px;
    font-size: 14px;
}

.tecnical{
    color:rgb(146, 146, 146);
       padding: 1px 5px;
        text-align: right;
        background-color:white;
        margin: 0px 22px;
    }
    .nsidetecnical{
        color: rgb(148, 150, 150);
    }
    .tecnical-name{
        font-size: 13px;
    }