.search>div>input{
  margin:0 0px 0 0px;
  height: 43px;
  margin: 0px 0px;
width: 100%;
border: 1px solid rgb(249, 249, 249);
transition: all 1s ;
box-sizing:border-box; 
padding-right: 22px;
font-family: Ali;
font-size: 15px;
background-color: rgb(249, 249, 252);
border-radius: 22px;
text-align: right;
}
.search-input-con{
  border-radius: 12px; margin:1px 4px;
}
.search{
  z-index: 4;
  display: inline-block;
position: relative;
  background-color: rgb(249, 249, 252);
  border: 1px solid rgb(197, 199, 199);

  
text-align: right;
direction: rtl;


border-radius: 22px;
width: 100%;
margin-right: 66px;
position: relative;
}

#searchshow{
display: none;
min-height: 200px;
color:rgb(190, 190, 190);
margin: 7px 9px 22px 7px;
background-color: rgb(249, 249, 252);
}
.searchshow-inside>div{
  cursor: pointer;
  margin:9px 0px
}
.search>div>input:focus{
  border-radius: 22px 22px 0 0;
    border-bottom: 1px solid rgb(197, 199, 199);

}
.search:focus-within {


}


.search>img{
    position:absolute;
    opacity: 0.2;
    top: 13px; 
    left: 22px;
}

.search>input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(211, 212, 212, 0.938);
    font-size: 15px;
    opacity: 1; /* Firefox */
  }
  
  .search>input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(179, 174, 174);
  }
  
  .center-box input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(189, 185, 185);
  }